:root {
    --blue: #0a84ff;
    --navy: #0e2439;
}
*{
    margin: 0;
    padding: 0;
    font-weight: lighter;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
    font-weight: 200;
    font-style: italic;
}
body {
    font-family: 'SF Pro Display', sans-serif;
}
h1 {
    font-family: 'SF Pro Display';
    font-weight: lighter;
    font-size: 2vw;
}

h2 {
    font-size: 1.7vw;
}

p {
    font-family: 'SF Pro Display';
    font-weight: lighter;
    font-size: 1.1vw;
}


.banner img{
    width: 100%;
    height: 60%;
}

.naslov {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 18em 1em 18em;
}

.natpis{
    margin-bottom: 1.2em;
}



.statistics-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1%;
    text-align: center;
    margin-bottom: 2vh;
}
.statistic-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
}

.statistic-block p {
    margin-top: 2%;
}
.statistic-block span {
    color: #000;
}


.broj{
    color: var(--blue);
}


hr.solid {
    border-top: 0.1vh solid #bbb;
    width: 100%;
}

.values {
    background-color: var(--navy);
    height: fit-content;
    width: 100%;
}

.values_naslov {
    text-align: center;
    padding-top: 0.6%;
    color: #fff;
    padding-bottom: 2.4em;
}

.values_sekcija {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em ;
}

.values_sekcija1{
    width: 33%;
    margin-left: 12em;
    margin-right: 3em;
}

.values_sekcija1_invert{
    width: 33%;
    margin-right: 12em;
    margin-left: 3em;


}

.values_sekcija2{
    width: 33%;
    margin-right: 12em;
    
    /* height: fit-content; */
}

.values_sekcija2_invert{
    width: 33%;
    margin-left: 12em;
    height: fit-content;
}

.values_sekcija2 img{
    width: 100%;
    height: 95%;
}

.values_sekcija2_invert img{
    width: 100%;
    height: 95%;
}

.values_h2 {
    color: #fff;
    text-align: center;
}

.values_sekcija p {
    color: #fff;
    text-align: justify;
    padding-top: 2em;
}

@media (max-width: 768px) {
    h1 {
        font-family: 'SF Pro Display';
        font-weight: lighter;
        font-size: 6vw;
    }
    
    h2 {
        font-size: 4vw;
    }
    
    p {
        font-family: 'SF Pro Display';
        font-weight: lighter;
        font-size: 3vw;
    }
    .naslov {
        margin-left: 15%;
        margin-right: 5%;
    }

    .values_sekcija{
        flex-direction: column;
    }
    .values_sekcija1{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .values_naslov{
        text-align: center;
    }
    .values img{
        margin-left: auto;
        margin-right: auto;
    }
    .values p{
        margin-bottom: 16px;
    }
    .values_sekcija1_invert{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .values_sekcija2{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        order: 2;
    }
    
    .values_sekcija2_invert{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        order: 1;
    }
    .values_sekcija p{
        padding-left: 5%;
        padding-right: 5%;
    }
    .values_sekcija img{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-family: 'SF Pro Display';
        font-weight: lighter;
        font-size: 6vw;
    }
    
    h2 {
        font-size: 4vw;
    }
    
    p {
        font-family: 'SF Pro Display';
        font-weight: lighter;
        font-size: 3vw;
    }
    .values_sekcija p{
        padding-left: 5%;
        padding-right: 5%;
    }
    .values_sekcija img{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .naslov {
        margin-left: 5%;
        margin-right: 5%;
    }
    .values_sekcija{
        flex-direction: column;
    }
    .values_sekcija1{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .values_naslov{
        text-align: center;
    }
    .values img{
        margin-left: auto;
        margin-right: auto;
    }
    .values p{
        margin-bottom: 16px;
    }
    .values_sekcija1_invert{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .values_sekcija2{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        order: 2;
    }
    
    .values_sekcija2_invert{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        order: 1;
    }

}