:root {
    --blue: #0a84ff;
    --navy: #0e2439;
}
*{
    margin: 0;
    padding: 0;
}



.banner img{
    width: 100%;
    height: 60%;
}

.naslov {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 25em 1em 26em;
}

.natpis{
    margin-bottom: 1.2em;
}



.statistics-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 1%;
    text-align: center;
    margin-bottom: 2vh;
}
.statistic-block {
    width: 27.3%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.statistic-block p {
    margin-top: 2%;
}
.statistic-block span {
    /* color: #C2C3C1; */
    color: var(--dark-gray06);
}


.broj{
    color: var(--blue);
}


hr.solid {
    border-top: 0.1vh solid #bbb;
    width: 100%;
}

.values {
    background-color: var(--navy);
    height: fit-content;
    width: 100%;
}

.values_naslov {
    text-align: center;
    padding-top: 0.6%;
    color: #fff;
    padding-bottom: 2.4em;
}

.values_sekcija {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4em ;
}

.values_sekcija1{
    width: 33%;
    margin-left: 15em;
    margin-right: 7em;
}

.values_sekcija1_invert{
    width: 33%;
    margin-right: 15em;
    margin-left: 7em;


}

.values_sekcija2{
    width: 33%;
    margin-right: 15em;
    
}

.values_sekcija2_invert{
    width: 33%;
    margin-left: 15em;
    height: fit-content;
}

.values_sekcija2 img{
    width: 100%;
    height: 95%;
}

.values_sekcija2_invert img{
    width: 100%;
    height: 95%;
}

.values_h2 {
    color: var(--light-gray04);
    color: #fff;
    text-align: center;

}
.values_sekcija:nth-of-type(3) .values_h2{

    padding-top: 1em;
}
.values_sekcija p {
    
    color: var(--light-gray04);

    padding-top: 2em;
}

@media (max-width: 768px) {
  
    .naslov {
        margin-left: 12%;
        margin-right: 12%;
    }

    .values_sekcija{
        flex-direction: column;
    }
    .values_sekcija1{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .values_naslov{
        text-align: center;
    }
    .values img{
        margin-left: auto;
        margin-right: auto;
    }
    .values p{
        margin-bottom: 16px;
    }
    .values_sekcija1_invert{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .values_sekcija2{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        order: 2;
    }
    
    .values_sekcija2_invert{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        order: 1;
    }
    .values_sekcija p{
        padding-left: 5%;
        padding-right: 5%;
    }
    .values_sekcija img{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

@media (max-width: 480px) {   
    .values_sekcija p{
        padding-left: 5%;
        padding-right: 5%;
    }
    .values_sekcija img{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .naslov {
        margin-left: 12%;
        margin-right: 12%;
    }
    .values_sekcija{
        flex-direction: column;
    }
    .values_sekcija1{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .values_naslov{
        text-align: center;
    }
    .values img{
        margin-left: auto;
        margin-right: auto;
    }
    .values p{
        margin-bottom: 16px;
    }
    .values_sekcija1_invert{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .values_sekcija2{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        order: 2;
    }
    
    .values_sekcija2_invert{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        order: 1;
    }

}