*{
    margin: 0;
    padding: 0;
}



.banner img{
    width: 100%;
    height: 60%;
}

.naslov {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.naslov{
    padding-top: 1%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 1%;
}
.natpis{
    margin-bottom: 3%;
}
.statistics-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}
.statistic-block {
    width: 27.3%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.statistic-block p {
    margin-top: 2%;
}
.statistic-block span {
    /* color: #C2C3C1; */
    color: var(--dark-gray06);
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 12pt;
    line-height: 16pt;
    letter-spacing: 0px;
}

.broj{
    color: var(--light-blue);
}


hr.solid {
    border: 0.1px solid #bbb;
    width: 100%;
}

.values {
    background-color: var(--navy);
    height: fit-content;
    width: 100%;
}

.values_naslov {
    text-align: center;
    padding-top: 0.6%;
    color: #fff;
    margin-bottom: 4%;
}

.values_sekcija {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
}
.values_sekcija1{
    width: 33%;
    margin-left: 15em;
    margin-right: 7em;
}

.values_sekcija1 p{
    padding-right: 2%;
}

.values_sekcija1_invert{
    width: 33%;
    margin-right: 15em;
    margin-left: 7em;


}
.values_sekcija1 img{
    width: 100%;
    height: 240pt;
}

.values_sekcija1_invert img{
    width: 100%;
    height: 240pt;
}
.values_sekcija2{
    width: 33%;
    margin-right: 15em;
    
}

.values_sekcija2_invert{
    width: 33%;
    margin-left: 15em;
    height: fit-content;
}

.values_sekcija2 img{
    width: 100%;
    height: 240pt;
}

.values_sekcija2_invert img{
    width: 100%;
    height: 240pt;
}

.values_h2 {
    color: var(--light-gray04);
    color: #fff;
    text-align: center;

}
.values_sekcija:nth-of-type(3) .values_h2{

    padding-top: 1%;
}
.values_sekcija p {
    
    color: var(--light-gray04);

    padding-top: 2%;
}

@media (max-width: 1200px){
    .values_sekcija{
        margin-bottom: 4%;
    }
    .values_sekcija1{
        width: 33%;
        margin-left: 9%;
        margin-right: 5%;
    }
    .values_sekcija1_invert{
        width: 33%;
        margin-right: 9%;
        margin-left: 5%;
    }
    
    .values_sekcija2{
        width: 33%;
        margin-right: 9%;
        
    }
    
    .values_sekcija2_invert{
        width: 33%;
        margin-left: 9%;
        height: fit-content;
    }
}
@media (max-width: 900px) {
  
    .naslov {
        padding-left: 4%;
        padding-right: 4%;
    }
    .natpis{
        margin-bottom: 3%;
    }
    .banner img{
        height: 90%;
    }

    .values_sekcija{
        flex-direction: column;
    }
    .values_sekcija1{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .values_naslov{
        text-align: center;
    }
    .values img{
        margin-left: auto;
        margin-right: auto;
    }
    .values p{
        margin-bottom: 16px;
    }
    .values_sekcija1_invert{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .values img{
        height: 95%;
    }
    .values_sekcija2{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        order: 2;
    }
    
    .values_sekcija2_invert{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        order: 1;
    }
    .values_sekcija{
        margin-bottom: 3%;
    }
    .values_sekcija p{
        padding-left: 5%;
        padding-right: 5%;
    }
    .values_sekcija img{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .values h1{
        padding-top: 3%;
        margin-bottom: 1%;
    }
}

@media (max-width: 480px) {   
    .values_sekcija p{
        padding-left: 5%;
        padding-right: 5%;
    }
    .values_sekcija img{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .naslov {
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .natpis{
        margin-bottom: 6%;
    }
    .banner img{
        height: 120pt;
    }
    .values_sekcija{
        flex-direction: column;
    }
    .values_sekcija{
        margin-bottom: 6%;
    }
    .values_sekcija1{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .values_naslov{
        text-align: center;
    }
    .values img{
        margin-left: auto;
        margin-right: auto;
    }
    .values p{
        margin-bottom: 16px;
    }
    .values_sekcija1_invert{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .values_sekcija2{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        order: 2;
    }
    
    .values_sekcija2_invert{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        order: 1;
    }
    .values h1{
        padding-top: 5%;
        margin-bottom: 2%;
    }
}