:root {
    --blue: #0a84ff;
    --navy: #0e2439;
}

h1{
    font-size: 1.5vw;
}
h2{
    font-size: 1.3vw;
}
p{
    font-size: 1.1vw;
    font-weight: lighter;
}
a{
    font-size: 1.1vw;
}
hr{
    height: 0.01%;
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'SF Pro Display', sans-serif;
}

h1 {
    font-family: 'SF Pro Display';
    font-weight: lighter;
}
.heading{
    padding-left: 25%;
    padding-right: 45%;
}
.naslov{
    font-size: 2vw;
    margin-bottom: 3%;
}
.tekst{
    margin-bottom: 1%;
}
#poslednji{
    margin-bottom: 3%;
}
#none{
    margin-bottom: 0;
}
.framework{
    padding-left: 20%;
    padding-right: 20%;
}
.prikazi{
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
.min-naslov{
    width: 50%;
}
.mini-naslov{
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 500;
}
.link{
    width: 50%;
    text-align: right;
    max-height: fit-content;
}
a{
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-size: 1.5vw;
    font-weight: 700;
}
.pop-up {
    display: none;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.pop-up.show {
    display: block;
    min-height: fit-content;
    max-height: 900px;
    opacity: 1;
}
.ispod{
    text-decoration: underline;
}

@media (max-width: 768px) {
    h1, .naslov {
        font-size: large;
    }

    h2 {
        font-size: medium;
    }

    p {
        font-size: small;
    }
    a{
        font-size: medium;
    }
    .heading{
        padding-left: 15%;
        padding-right: 25%;
    }
    .framework{
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width: 480px) {
    h1, .naslov {
        font-size: large;
    }
    
    h2 {
        font-size: medium;
    } 

    p {
        font-size: small;
    }
    a{
        font-size: medium;
    }
    .framework{
        padding-left: 10%;
        padding-right: 10%;
    }
    .tekst{
        margin-bottom: 3%;
    }
}