:root {
    --blue: #0a84ff;
    --navy: #0e2439;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
    font-weight: 200;
    font-style: italic;
}
body {
    font-family: 'SF Pro Display', sans-serif;
}
h1 {
    font-family: 'SF Pro Display';
    font-weight: lighter;
    font-size: 2vw;
}

h2 {
    font-size: 1.7vw;
}

p {
    font-family: 'SF Pro Display';
    font-weight: lighter;
    font-size: 1.1vw;
}

button
{
    font-family: 'SF Pro Display';
}

@media (max-width: 768px) {
    h1 {
        font-family: 'SF Pro Display';
        font-weight: lighter;
        font-size: 6vw;
    }
    
    h2 {
        font-size: 4vw;
    }
    
    p {
        font-family: 'SF Pro Display';
        font-weight: lighter;
        font-size: 3vw;
    }

    button
    {
        font-family: 'SF Pro Display';
        font-weight: lighter;
        font-size: 3vw;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 6vw;
    }
    
    h2 {
        font-size: 4vw;
    }
    
    p {
        font-size: 3vw;
    }
}