:root {
    --blue: #0a84ff;
    --navy: #0e2439;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('font/SF-Pro-Text-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('font/SF-Pro-Text-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('font/SF-Pro-Text-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('font/SF-Pro-Text-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('font/SF-Pro-Text-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('font/SF-Pro-Text-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}
body {
    font-family: 'SF Pro Text', sans-serif;
}

.largeTitle
{
    font-family: 'SF Pro Display';
    font-weight: lighter;
    font-size: 34pt;
    line-height: 41pt;
    letter-spacing: 0.37px;
}

.title1
{
    font-family: 'SF Pro Display';
    font-weight: lighter;
    font-size: 28pt;
    line-height: 34pt;
    letter-spacing: 0.36px;
}

.title2
{
    font-family: 'SF Pro Display';
    font-weight: lighter;
    font-size: 22pt;
    line-height: 28pt;
    letter-spacing: 0.35px;
}

.caption2 {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 11pt;
    line-height: 13pt;
    letter-spacing: 0.07px;
}

.caption1 {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 12pt;
    line-height: 16pt;
    letter-spacing: 0px;
}

.footnote {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 13pt;
    line-height: 18pt;
    letter-spacing: -0.08px;
}

.subheadline {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 15pt;
    line-height: 20pt;
    letter-spacing: -0.24px;
}

.callout {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 16pt;
    line-height: 21pt;
    letter-spacing: -0.32px;
}

.body {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 17pt;
    line-height: 22pt;
    letter-spacing: -0.41px;
}

.headline {
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-size: 17pt;
    line-height: 22pt;
    letter-spacing: -0.41px;
}

.title3 {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 20pt;
    line-height: 25pt;
    letter-spacing: 0.38px;
}

.caption2Bold {
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-size: 11pt;
    line-height: 13pt;
    letter-spacing: 0.06px;
}

.caption1Bold {
    font-family: 'SF Pro Text';
    font-weight: 500;
    font-size: 12pt;
    line-height: 16pt;
    letter-spacing: 0px;
}

.footnoteBold {
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-size: 13pt;
    line-height: 18pt;
    letter-spacing: -0.08px;
}

.subheadlineBold {
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-size: 15pt;
    line-height: 20pt;
    letter-spacing: -0.5px;
}

.calloutBold {
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-size: 16pt;
    line-height: 21pt;
    letter-spacing: -0.32px;
}

.bodyBold {
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-size: 17pt;
    line-height: 22pt;
    letter-spacing: -0.41px;
}

.headlineBold {
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-size: 17pt;
    line-height: 22pt;
    letter-spacing: -0.41px;
}

.title3Bold {
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 20pt;
    line-height: 25pt;
    letter-spacing: 0.38px;
}

.title2Bold {
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 22pt;
    line-height: 28pt;
    letter-spacing: 0.35px;
}

.title1Bold {
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-size: 28pt;
    line-height: 34pt;
    letter-spacing: 0.36px;
}

.largeTitleBold {
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-size: 34pt;
    line-height: 41pt;
    letter-spacing: 0.37px;
}





/* @media (max-width: 768px) {
    h1 {
        font-family: 'SF Pro Display';
        font-weight: lighter;
        font-size: 6vw;
    }
    
    h2 {
        font-size: 4vw;
    }
    
    p {
        font-family: 'SF Pro Display';
        font-weight: lighter;
        font-size: 3vw;
    }

    button
    {
        font-family: 'SF Pro Display';
        font-weight: lighter;
        font-size: 3vw;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 6vw;
    }
    
    h2 {
        font-size: 4vw;
    }
    
    p {
        font-size: 3vw;
    }
} */