* {
    margin: 0;
    padding: 0;
}
:root {
    --blue: #0a84ff;
    --navy: #0e2439;
}

.banner{
    background-color: black;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner img{
    width: 100px;
    height: 100px;
}
.naslov{
    font-size: 20px;
}
.div-naslov{
    margin-top: 25%;
    padding-right: 20%;
}
.tekst{
    font-size: 18px;
}
.content{

}
.who{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #0a84ff;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
.prva{
    width: 50%;
}
.druga{
    width: 50%;
    justify-content: right;
}
.druga img{
    width: 80%;
    height: 80%;
    float: right;
}