* {
    margin: 0;
    padding: 0;
    font-weight: lighter;
}
:root {
    --blue: #0a84ff;
    --navy: #0e2439;
}

h1{
    font-size: 1.5vw;
    font-weight: 500;
}
.banner{
    background-color: black;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    object-fit: cover;
}
.banner img{
    width: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.logo{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.div-naslov{
    margin-top: 25%;
    padding-right: 35%;
    margin-bottom: 2vh;
}
.content{

}
.who{
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    height: fit-content;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.prva{
    width: 50%;
}
.prva p{
    padding-right: 5%;
}
.prva button{
    background-color: #0D60AF;
    width: 25%;
    height: fit-content;
    border: 1px;
    color: white;
    font-size: 0.8vw;
    font-weight: 500;
    padding: 0.8em;
    cursor: pointer;
}
.druga{
    width: 50%;
    justify-content: right;
}
.druga img{
    object-fit: cover;
    width: 90%;
    float: right;
}
.news{
    margin: 0;
    padding: 0;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: fit-content;
    background-color: #E5E5EA;
}
.news a{
    color: black;
}
.vest{
    width: 33%;
    float: right;
}
#vest3{
    float: right;
}
.vest img{
    width: 90%;
}
#vest-naslov{
    margin-bottom: 3vh;
}
.vesti-container{
    display: flex;
    width: 100%;
}
.datum{
    font-size: 0.8vw;
    margin-top: 2%;
    margin-bottom: 1%;
}
.kategorija{
    color: #0a84ff;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    font-size: 0.9vw;
}
#vest2{
    padding-left: 3%;
}
#vest3 img{
    padding-left: 10%;
    margin-right: 0;
}
#vest3 p{
    padding-left: 10%;
}
.opis{
    padding-right: 10%;
    margin-bottom: 2%;
}
.join{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
}
.flex{
    display: flex;
    margin-bottom: 2%;
}
.jedan{
    width: 50%;
}
.dva{
    width: 50%;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding-top: 0.5%;
}
.partner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.part{
    object-fit: contain;
    margin-right: 3%;
    margin-bottom: 3%;
}
.part img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
#partneri1{
    flex-wrap: wrap;
}
#etf{
    width: 30%;
}
#raf{
    width: 18%;
}
#backpack{
    width: 8.5%;
}
#owf{
    width: 10%;
}
#europe-space{
    width: 12%;
}
#osra{
    width: 15%;
}
#digital{
    width: 9%;
}
#robotics{
    width: 3.5%;
}
#suma{
    width: 5%;
}
.forma {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-image: url("./slike/mars-background.webp");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 40%;
    color: #fff;
    height: fit-content;
}
.cont{
    display: flex;
}
.i{
    margin-top: 10%;
    width: 40%;
}
.dab{
    padding-right: 30%;
    margin-bottom: 5%;
}
.join-us{
    background-color: #0D60AF;
    width: 25%;
    height: fit-content;
    border: 1px;
    color: white;
    font-size: 0.8vw;
    padding: 0.8em;
    font-weight: 500;
    cursor: pointer;
}
.ii{
    width: 50%;
    display: flex;
    align-items: stretch;
    min-height: fit-content;
    height: 40vh;
}
.badabim{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.bold{
    font-weight: bold;
}
.titule{
    width: fit-content;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 3%;
}
.titula{
    margin-bottom: 3%;
}

@media (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
    }
    h1 {
        font-size: large;
    }

    h2 {
        font-size: medium;
    }

    p {
        font-size: small;
    }
    .banner img{
        width: 20%;
    }
    
    .prva button{
        font-size: 0.7em;
        margin-top: 1%;
        width: fit-content;
    }
    .div-naslov{
        margin-top: 15%;
    }
    .who{
        padding-left: 5%;
        padding-right: 5%;
        min-height: fit-content;
    }
    .join{
        padding-left: 5%;
        padding-right: 5%;
    }
    #etf{
        width: 40%;
    }
    #raf{
        width: 30%;
    }
    #backpack{
        width: 15%;
    }
    #owf{
        width: 18%;
    }
    #europe-space{
        width: 18%;
    }
    #osra{
        width: 20%;
    }
    #digital{
        width: 18%;
    }
    #robotics{
        width: 8%;
    }
    #suma{
        width: 11%;
    }
    .prva button{
        width: fit-content;
        font-size: 0.8em;
    }
    .who{
        padding-left: 5%;
        padding-right: 5%;
        min-height: fit-content;
    }

    .news
    {
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3%;
    }
    
    .vesti-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 2em 0;
    }

    .vest
    {
        width: 100%;
    }

    .vest img
    {
        width: 100%;
    }

    #vest1
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #vest1 .datum
    {
        font-size: smaller;
    }

    #vest1 .kategorija
    {
        font-size: x-small;
    }

    #vest1 .opis
    {
        font-size: medium;
    }

    #vest2, #vest3
    {
        padding: 0;
    }

    #vest2 .datum, #vest3 .datum
    {
        padding: 0;
        font-size: small;
    }

    #vest2 .kategorija, #vest3 .kategorija
    {
        padding-left: 0;
        font-size: x-small;
    }

    #vest2 .opis, #vest3 .opis
    {
        padding-left: 0;
        font-size: medium;
    }

    #vest3 img
    {
        padding: 0;
    }

    #vest3 a p
    {
        padding-left: 0;
    }

    .forma
    {
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .cont
    {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        gap: 0 2em;
        font-size: x-small;
        font-size: 0.9em;
    }

    .join-us
    {
        font-size: smaller;
        width: 40%;
        height: auto;
    }

    .ii
    {
        height: auto;
        gap: 0 0.2em;
    }

    .titule
    {
        padding: 0;
    }

}

@media (max-width: 480px) {
    *{
        padding: 0;
        margin: 0;
    }
    h1 {
        font-size: large;
    }
    
    h2 {
        font-size: medium;
    } 

    p {
        font-size: small;
    }
    .banner img{
        /* height: 10vh;
        width: 10vh; */
    }
    .who{
        padding-left: 5%;
        padding-right: 5%;
        min-height: fit-content;
    }
    .div-naslov{
        padding-right: 20%;
    }
    .prva button{
        font-size: 0.6em;
        width: fit-content;
    }
    .druga{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .druga img{
        width: 100%;
    }
    .join{
        padding-left: 5%;
        padding-right: 5%;
    }

    #etf{
        width: 50%;
    }
    #raf{
        width: 40%;
    }

    .part{
        margin-right: 5%;
        margin-bottom: 5%;
    }
    #backpack{
        width: 15%;
    }
    #owf{
        width: 18%;
    }
    #europe-space{
        width: 18%;
    }
    #osra{
        width: 20%;
    }
    #digital{
        width: 20%;
    }
    #robotics{
        width: 8%;
    }
    #suma{
        width: 12%;
    }
}