*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('font/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
    font-weight: 200;
    font-style: italic;
}

body {
    font-family: 'SF Pro Display', sans-serif;
}

h1 {
    font-family: 'SF Pro Display';
    font-weight: lighter;
    font-size: 1.6em;
    margin-bottom: 0.6em;
}

h2 {
    font-family: 'SF Pro Display';
    font-weight: lighter;
    font-size: 1.3em; 
    margin-bottom: 0.6em;
}

p {
    font-family: 'SF Pro Display';
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 0.6em;
}

.celina {
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1.4em;
}

#list-tekst {
    line-height: 1.2em;
}
ul{
    padding-left: 3%;
}
li {
    line-height: 1em;
}

