:root {
    --blue: #0a84ff;
    --navy: #0e2439;
}

hr{
    border-top: 0;
    color: var(--light-gray);
}

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'SF Pro Display', sans-serif;
}

h1 {
    font-family: 'SF Pro Display';
    font-weight: lighter;
}
.heading{
    padding-left: 25%;
    padding-right: 45%;
}
.tekst{
    margin-bottom: 1%;
}
#poslednji{
    margin-bottom: 3%;
}
.framework{
    padding-left: 18%;
    padding-right: 18%;
}
.prikazi{
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
.min-naslov{
    width: 50%;
    color: var(--argoBlue)
}

.link{
    width: 50%;
    text-align: right;
    max-height: fit-content;
}
a{
    text-decoration: none;
    color: var(--argoBlue);
}
.pop-up {
    display: none;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.pop-up.show {
    display: block;
    min-height: fit-content;
    max-height: 900px;
    opacity: 1;
}
.ispod{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .heading{
        padding-left: 15%;
        padding-right: 25%;
    }
    .framework{
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width: 480px) {
    .framework{
        padding-left: 10%;
        padding-right: 10%;
    }
    .tekst{
        margin-bottom: 3%;
    }
    .mini-naslov{
        margin-bottom: 5%;
    }
}